<!DOCTYPE html>
<html>
<head>
	<title>ninja gold</title>
	<link rel="stylesheet" href="../../assets/stylesheets/rp_gs.scss">

</head>
	<body>
		<div id="count">
			<p><%=session[:accumulate]%></p>
		</div>
		<p id='goldBox'>Gold</p>
		<div id="actionWrapper">
			<div class="action">
				<h1>Farm</h1>
				<p>(earns  10-20 golds)</p>
				<div id="formWrapper">
					<form action="/processGold" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="submit" name="farmAct" value="find gold">
					</form>
				</div>
			</div>
			<div class="action">
				<h1>Cave</h1>
				<p>(earns  5-10 golds)</p>
				<div id="formWrapper">
					<form action="/processGold" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="submit" name="caveAct" value="find gold">
					</form>
				</div>
			</div>
			<div class="action">
				<h1>House</h1>
				<p>(earns  2-5 golds)</p>
				<div id="formWrapper">
					<form action="/processGold" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="submit" name="houseAct" value="find gold">
					</form>
				</div>
				
			</div>
			<div class="action">
				<h1>Casino</h1>
				<p>random</p>
				<div id="formWrapper">
					<form action="/processGold" method="post">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input type="submit" name="casinoAct" value="find gold">
					</form>
				</div>
			</div>
		</div>
		<div id="updates">
			<% if session[:all] %>
				<% session[:all].each do |i|%>
					<p><%=i%></p>
				<% end %>
			<% end %>
		</div>

	</body>
</html>